.Navbar {
  position: absolute;
  top: 0;
  width: 100%;

  height: 5em;
  z-index: 2;
}

.Navbar .navbar-items-container {
  width: 95%;
  height: 100%;
  display: flex;
  flex-flow:row nowrap;
  align-items: center;
  justify-content: flex-end;
}

.Navbar .navbar-items-container.pull-right {
  justify-content: flex-end !important;
  width: 100%;
}

@media only screen and (max-width : 800px) {
  .Navbar .navbar-items-container {
    justify-content: center;
  }
}
